<h1>Stores Index</h1>
Home > Stores
<% @stores.each do |store| %>
  <p><b><%= store.name %></b> | Created at: <%= store.created_at %> | <%= link_to "Edit Store", "/stores/#{store.id}/edit" %></p>
<% end %>

<%= link_to "New Store", "/stores/new" %>